<div class="grid-location">
  <div class="ip-address grid-item-location">
    <div class="content">
      <span class="content-title">IP ADDRESS</span>
      <p class="content-information">192.212.174.101</p>
    </div>
  </div>
  <div class="location grid-item-location">
    <div class="content">
      <span>LOCATION</span>
      <p>Brooklyn, NY 10001</p>
    </div>
  </div>
  <div class="timezone grid-item-location">
    <div class="content">
      <span>TIMEZONE</span>
      <p>UTC-05:00</p>
    </div>
  </div>
  <div class="isp grid-item-location" >
    <div class="content">
      <span>ISP</span>
      <p>SpaceX Starlink</p>
    </div>
  </div>
</div>
